.multiselect-dropdown {    
    .multiselect-dropdown-list-wrapper {
        .multiselect-dropdown-list {
            .multiselect-dropdown-all-selector {
                label {
                    color: black;
                }
            }

            div:not([class="multiselect-dropdown-all-selector"]) {
                color: black;
            }
        }
    }
}