@use "utils/variables" as v;

.alternating {
    border-style: solid;
    border-color: rgba($color: #000000, $alpha: 0.4);
    border-width: 1px;
    background-color: rgba($color: #000000, $alpha: 0.2);
    width: 100%;
    
    thead {
        tr {
            background-color: rgba($color: #000000, $alpha: 0.2);

            td {
                padding-top: 20px;
                padding-bottom: 20px;
                padding-left: 10px;
                padding-right: 10px;
                font-size: large;
                font-weight: 400;
            }
        }
    }
 
    tbody {
        tr:nth-child(odd of tr:not([hidden])) {
            background-color: rgba($color: #ffffff, $alpha: 0.1);
        }

        tr:nth-child(even of tr:not([hidden])) {
            background-color: rgba($color: #ffffff, $alpha: 0.05);
        }

        tr {
            td {
                padding-left: 10px;
                padding-right: 10px;
            }
        }
    }
}

.search {
    display: table-row;

    > div {
        display: table-cell;
        padding-right: 10px;

        > label {
            padding-right: 5px;
        }

        .searchTerm {
            display: inline-block;
            background-color: white;
            padding: 2px 5px 0px 2px;
            border-radius: 4px;
            border: solid 1px #ced4da;

            > input {
                height: 1.15em;
                padding: 2px;
                border: none;
                font-family: v.$fontParagraph;
                font-size: 90%;
            }

            > input::placeholder {
                color: #0f0f0f;
            }
        }
    }

    .multiselect-dropdown {
        .multiselect-dropdown-list {
            > div {
                input {
                    vertical-align: text-top;
                }

                label {
                    vertical-align: text-top;
                    font-size: 90%;
                }
            }
        }

        span.placeholder {
            color: #0f0f0f;
            font-family: v.$fontParagraph;
            font-size: 90%;
        }
    }
}
