<header class="headerWrapper">
    <div class="header">
        <div>
            <a class="terminal" href="{{ .Site.BaseURL }}">
                <span>Home</span>
            </a>
        </div>
        <input class="side-menu" type="checkbox" id="side-menu">
        <label class="hamb" for="side-menu"><span class="hamb-line"></span></label>
        <nav class="headerLinks">
            <ul>
                <li>
                    <!-- Place this tag where you want the button to render. -->
                    <a class="github-button"
                        href="https://github.com/storageclass/storageclass.github.io"
                        data-color-scheme="no-preference: light; light: light; dark: dark;"
                        data-icon="octicon-star"
                        data-size="large"
                        aria-label="Star storageclass/storageclass.github.io on GitHub"
                    >
                        Star on Github
                    </a>
                </li>
                {{ range .Site.Menus.header.ByWeight }}
                <li>
                    <a href="{{ .URL | absURL }}" title="{{ .Title }}" >
                        {{- .Name -}}
                    </a>
                </li>
                {{ end }}
            </ul>
        </nav>
    </div>
</header>
