<div class="search">
    <div>
        <label>SearchTerm:</label>
        <div class="searchTerm">
            <input id="searchTerm" type="text" placeholder="Search Term" />
        </div>
    </div>
    <div>
        <label>Disk Type:</label>
        <select id="diskTypes" name="diskTypes"
                style="width: 200px" placeholder="Disk Types"
                multiple multiselect-search="false"
                multiselect-select-all="false"
                multiselect-hide-x="true"
        >
            <option value="persistent">Persistent</option>
            <option value="ephemeral">Ephemeral</option>
        </select>
    </div>
    <div>
        <label>Features:</label>
        <select id="features" name="features"
                style="width: 200px" placeholder="Features"
                multiple multiselect-search="false"
                multiselect-select-all="false"
                multiselect-hide-x="true"
        >
            <option value="raw">Block Storage</option>
            <option value="file">File Storage</option>
            <option value="object">Object Storage</option>
            <option value="dynamic">Dynamic Provisioning</option>
            <option value="snapshot">Snapshot</option>
            <option value="clone">Clones</option>
            <option value="expansion">Expansion</option>
            <option value="topology">Topology Aware</option>
            <option value="tracking">Storage Tracking</option>
        </select>
    </div>
    <div>
        <label>Access Modes:</label>
        <select id="accessModes" name="accessModes"
                style="width: 200px" placeholder="Access Modes"
                multiple multiselect-search="false"
                multiselect-select-all="false"
                multiselect-hide-x="true"
        >
            <option value="readOnlyMany">Read Only Many</option>
            <option value="readWriteOnce">Read Write Once</option>
            <option value="readWriteMany">Read Write Many</option>
            <option value="readWriteOncePod">Read Write Once Pod</option>
        </select>
    </div>
</div>

<table class="alternating">
<thead>
    <tr>
        <td>Name</td>
        <td>Driver Name</td>
        <td>Description</td>
        <td>Disk Type</td>
        <td>Supported Features</td>
        <td>Access Modes</td>
    </tr>
</thead>
<tbody>
{{ range .Site.Data.storageclasses.storageClasses }}
<tr id="{{- .name -}}">
    <td><a href="{{- .link -}}" rel="nofollow noopener" target="_blank">{{- .name -}}</a></td>
    <td>{{- .driverName -}} </td>
    <td>{{ .description | $.Page.RenderString }}</td>
    <td width="150">
        <ul>
            <li>Persistent: {{ if and (.diskTypes) (.diskTypes.persistent) }}<span style="color: green">✓</span>{{ else }}<span style="color: red">𝘟</span>{{ end }}</li>
            <li>Ephemeral: {{ if and (.diskTypes) (.diskTypes.ephemeral) }}<span style="color: green">✓</span>{{ else }}<span style="color: red">𝘟</span>{{ end }}</li>
        </ul>
    </td>
    <td width="180">
        <ul>
            <li>Block Storage: {{ if and (.features) (.features.raw) }}<span style="color: green">✓</span>{{ else }}<span style="color: red">𝘟</span>{{ end }}</li>
            <li>File Storage: {{ if and (.features) (.features.file) }}<span style="color: green">✓</span>{{ else }}<span style="color: red">𝘟</span>{{ end }}</li>
            <li>Object Storage: {{ if and (.features) (.features.object) }}<span style="color: green">✓</span>{{ else }}<span style="color: red">𝘟</span>{{ end }}</li>
            <li>Dynamic: {{ if and (.features) (.features.dynamic) }}<span style="color: green">✓</span>{{ else }}<span style="color: red">𝘟</span>{{ end }}</li>
            <li>Snapshot: {{ if and (.features) (.features.snapshot) }}<span style="color: green">✓</span>{{ else }}<span style="color: red">𝘟</span>{{ end }}</li>
            <li>Clones: {{ if and (.features) (.features.clone) }}<span style="color: green">✓</span>{{ else }}<span style="color: red">𝘟</span>{{ end }}</li>
            <li>Expansion: {{ if and (.features) (.features.expansion) }}<span style="color: green">✓</span>{{ else }}<span style="color: red">𝘟</span>{{ end }}</li>
            <li>Topology: {{ if and (.features) (.features.topology) }}<span style="color: green">✓</span>{{ else }}<span style="color: red">𝘟</span>{{ end }}</li>
            <li>Tracking: {{ if and (.features) (.features.tracking) }}<span style="color: green">✓</span>{{ else }}<span style="color: red">𝘟</span>{{ end }}</li>
        </ul>
    </td>
    <td width="220">
        <ul>
            <li>Read Only Many: {{ if and (.accessModes) (.accessModes.readOnlyMany) }}<span style="color: green">✓</span>{{ else }}<span style="color: red">𝘟</span>{{ end }}</li>
            <li>Read Write Once: {{ if and (.accessModes) (.accessModes.readWriteOnce) }}<span style="color: green">✓</span>{{ else }}<span style="color: red">𝘟</span>{{ end }}</li>
            <li>Read Write Many: {{ if and (.accessModes) (.accessModes.readWriteMany) }}<span style="color: green">✓</span>{{ else }}<span style="color: red">𝘟</span>{{ end }}</li>
            <li>Read Write Once Pod: {{ if and (.accessModes) (.accessModes.readWriteOncePod) }}<span style="color: green">✓</span>{{ else }}<span style="color: red">𝘟</span>{{ end }}</li>
        </ul>
    </td>
</tr>
{{ end }}
</tbody>
</table>

<script language="javascript" type="text/javascript">
    const storageClasses = {{- .Site.Data.storageclasses.storageClasses -}};

    const searchTerm = document.getElementById("searchTerm");
    const diskTypes = document.getElementById("diskTypes");
    const features = document.getElementById("features");
    const accessModes = document.getElementById("accessModes");

    const filterStoragesClasses = () => {
        const term = searchTerm.value.toLowerCase();
        const selectedDiskTypes = Array.from(diskTypes.selectedOptions).map(option => option.value);
        const selectedFeatures = Array.from(features.selectedOptions).map(option => option.value);
        const selectedAccessModes = Array.from(accessModes.selectedOptions).map(option => option.value);

        if (term.length === 0 && diskTypes.length === 0 && selectedFeatures.length === 0 && accessModes.length === 0) {
            storageClasses.forEach(storageClass => {
                const row = document.getElementById(storageClass.name);
                row.removeAttribute("style");
                row.removeAttribute("hidden");
            });
            return false;
        }

        let filteredStorageClasses = storageClasses;
        if (term.length > 0) {
            filteredStorageClasses = filteredStorageClasses.filter(storageClass => 
                storageClass.name.toLowerCase().indexOf(term) != -1 ||
                storageClass.driverName.toLowerCase().indexOf(term) != -1 ||
                storageClass.description.toLowerCase().indexOf(term) != -1
            );
        }

        if (selectedDiskTypes.length > 0) {
            filteredStorageClasses = filteredStorageClasses.filter(storageClass =>
                selectedDiskTypes.find(diskType => !storageClass.diskTypes[diskType]) === undefined
            );
        }

        if (selectedFeatures.length > 0) {
            filteredStorageClasses = filteredStorageClasses.filter(storageClass =>
                selectedFeatures.find(feature => !storageClass.features[feature]) === undefined
            );
        }

        if (selectedAccessModes.length > 0) {
            filteredStorageClasses = filteredStorageClasses.filter(storageClass =>
                selectedAccessModes.find(accessMode => storageClass.accessModes && !storageClass.accessModes[accessMode]) === undefined
            );
        }

        storageClasses.forEach(storageClass => {
            const row = document.getElementById(storageClass.name);
            if (filteredStorageClasses.find(item => item.name == storageClass.name) !== undefined) {
                row.removeAttribute("style");
                row.removeAttribute("hidden");
            } else {
                row.setAttribute("style", "display: none");
                row.setAttribute("hidden", "");
            }
        });

        return true;
    };

    searchTerm.oninput = function() {
        return filterStoragesClasses();
    }
    diskTypes.onchange = function() {
        return filterStoragesClasses();
    }
    features.onchange = function() {
        return filterStoragesClasses();
    }
    accessModes.onchange = function() {
        return filterStoragesClasses();
    }
</script>

{{ $js := resources.Get "/js/multiselect-dropdown.js" }}
<script defer language="javascript" type="text/javascript" src="{{ $js.RelPermalink }}"></script>
