<div class="search">
    <div>
        <div>
            <label>SearchTerm:</label>
            <div class="searchTerm">
                <input id="searchTerm" type="text" placeholder="Search Term" autocomplete="off" />
            </div>
        </div>
        <div>
            <label>Lifecycle Modes:</label>
            <select id="lifecycleModes" name="lifecycleModes"
                    style="width: 200px" placeholder="Lifecycle Modes"
                    multiple multiselect-search="false"
                    multiselect-select-all="false"
                    multiselect-hide-x="true"
            >
                <option value="persistent">Persistent</option>
                <option value="ephemeral">Ephemeral</option>
            </select>
        </div>
        <div>
            <label>Capabilities:</label>
            <select id="capabilities" name="capabilities"
                    style="width: 200px" placeholder="Capabilities"
                    multiple multiselect-search="false"
                    multiselect-select-all="false"
                    multiselect-hide-x="true"
            >
                <option value="raw">Block Storage</option>
                <option value="file">File Storage</option>
                <option value="object">Object Storage</option>
                <option value="dynamic">Dynamic Provisioning</option>
                <option value="snapshot">Snapshot</option>
                <option value="clone">Clones</option>
                <option value="expansion">Expansion</option>
                <option value="topology">Topology Aware</option>
                <option value="tracking">Storage Tracking</option>
            </select>
        </div>
        <div>
            <label>Access Modes:</label>
            <select id="accessModes" name="accessModes"
                    style="width: 200px" placeholder="Access Modes"
                    multiple multiselect-search="false"
                    multiselect-select-all="false"
                    multiselect-hide-x="true"
            >
                <option value="readOnlyOnce">Read Only Once</option>
                <option value="readOnlyMany">Read Only Many</option>
                <option value="readWriteOnce">Read Write Once</option>
                <option value="readWriteMany">Read Write Many</option>
                <option value="readWriteOncePod">Read Write Once Pod</option>
            </select>
        </div>
    </div>
</div>

<table class="alternating">
<thead>
    <tr>
        <td>Driver Name</td>
        <td>Driver Class</td>
        <td>Description</td>
        <td>Lifecycle Modes</td>
        <td>Supported Capabilities</td>
        <td>Access Modes</td>
    </tr>
</thead>
<tbody>
{{ range sort .Site.Data.csidrivers.drivers "name" "asc" }}
<tr id="{{- .name -}}">
    <td><a href="{{- .link -}}" rel="nofollow noopener" target="_blank">{{- .name -}}</a></td>
    <td>{{- .driverClass -}} </td>
    <td>{{ .description | $.Page.RenderString }}</td>
    <td width="150">
        <ul>
            <li>Persistent: {{ if and (.lifecycleModes) (.lifecycleModes.persistent) }}<span style="color: green">✓</span>{{ else }}<span style="color: red">𝘟</span>{{ end }}</li>
            <li>Ephemeral: {{ if and (.lifecycleModes) (.lifecycleModes.ephemeral) }}<span style="color: green">✓</span>{{ else }}<span style="color: red">𝘟</span>{{ end }}</li>
        </ul>
    </td>
    <td width="180">
        <ul>
            <li>Block Storage: {{ if and (.capabilities) (.capabilities.raw) }}<span style="color: green">✓</span>{{ else }}<span style="color: red">𝘟</span>{{ end }}</li>
            <li>File Storage: {{ if and (.capabilities) (.capabilities.file) }}<span style="color: green">✓</span>{{ else }}<span style="color: red">𝘟</span>{{ end }}</li>
            <li>Object Storage: {{ if and (.capabilities) (.capabilities.object) }}<span style="color: green">✓</span>{{ else }}<span style="color: red">𝘟</span>{{ end }}</li>
            <li>Dynamic: {{ if and (.capabilities) (.capabilities.dynamic) }}<span style="color: green">✓</span>{{ else }}<span style="color: red">𝘟</span>{{ end }}</li>
            <li>Snapshot: {{ if and (.capabilities) (.capabilities.snapshot) }}<span style="color: green">✓</span>{{ else }}<span style="color: red">𝘟</span>{{ end }}</li>
            <li>Clones: {{ if and (.capabilities) (.capabilities.clone) }}<span style="color: green">✓</span>{{ else }}<span style="color: red">𝘟</span>{{ end }}</li>
            <li>Expansion: {{ if and (.capabilities) (.capabilities.expansion) }}<span style="color: green">✓</span>{{ else }}<span style="color: red">𝘟</span>{{ end }}</li>
            <li>Topology: {{ if and (.capabilities) (.capabilities.topology) }}<span style="color: green">✓</span>{{ else }}<span style="color: red">𝘟</span>{{ end }}</li>
            <li>Tracking: {{ if and (.capabilities) (.capabilities.tracking) }}<span style="color: green">✓</span>{{ else }}<span style="color: red">𝘟</span>{{ end }}</li>
        </ul>
    </td>
    <td width="220">
        <ul>
            <li>Read Only Many: {{ if and (.accessModes) (.accessModes.readOnlyMany) }}<span style="color: green">✓</span>{{ else }}<span style="color: red">𝘟</span>{{ end }}</li>
            <li>Read Write Once: {{ if and (.accessModes) (.accessModes.readWriteOnce) }}<span style="color: green">✓</span>{{ else }}<span style="color: red">𝘟</span>{{ end }}</li>
            <li>Read Write Many: {{ if and (.accessModes) (.accessModes.readWriteMany) }}<span style="color: green">✓</span>{{ else }}<span style="color: red">𝘟</span>{{ end }}</li>
            <li>Read Write Once Pod: {{ if and (.accessModes) (.accessModes.readWriteOncePod) }}<span style="color: green">✓</span>{{ else }}<span style="color: red">𝘟</span>{{ end }}</li>
        </ul>
    </td>
</tr>
{{ end }}
</tbody>
</table>

<script language="javascript" type="text/javascript">
    const drivers = {{- .Site.Data.csidrivers.drivers -}};

    const searchTerm = document.getElementById("searchTerm");
    const lifecycleModes = document.getElementById("lifecycleModes");
    const capabilities = document.getElementById("capabilities");
    const accessModes = document.getElementById("accessModes");

    const filterCsiDrivers = () => {
        const term = searchTerm.value.toLowerCase();
        const selectedLifecycleModes = Array.from(lifecycleModes.selectedOptions).map(option => option.value);
        const selectedCapabilities = Array.from(capabilities.selectedOptions).map(option => option.value);
        const selectedAccessModes = Array.from(accessModes.selectedOptions).map(option => option.value);

        if (term.length === 0 && lifecycleModes.length === 0 && selectedCapabilities.length === 0 && accessModes.length === 0) {
            drivers.forEach(driver => {
                const row = document.getElementById(driver.name);
                row.removeAttribute("style");
                row.removeAttribute("hidden");
            });
            return false;
        }

        let filteredDrivers = drivers;
        if (term.length > 0) {
            filteredDrivers = filteredDrivers.filter(driver => 
                (driver.name && driver.name.toLowerCase().indexOf(term) != -1) ||
                (driver.driverClass && driver.driverClass.toLowerCase().indexOf(term) != -1) ||
                (driver.description && driver.description.toLowerCase().indexOf(term) != -1)
            );
        }

        if (selectedLifecycleModes.length > 0) {
            filteredDrivers = filteredDrivers.filter(driver =>
            selectedLifecycleModes.find(lifecycleMode => 
            driver.lifecycleModes && !driver.lifecycleModes[lifecycleMode]
                ) === undefined
            );
        }

        if (selectedCapabilities.length > 0) {
            filteredDrivers = filteredDrivers.filter(driver =>
            selectedCapabilities.find(capability => 
            driver.capabilities && !driver.capabilities[capability]
                ) === undefined
            );
        }

        if (selectedAccessModes.length > 0) {
            filteredDrivers = filteredDrivers.filter(driver =>
                selectedAccessModes.find(accessMode => 
                driver.accessModes && !driver.accessModes[accessMode]
                ) === undefined
            );
        }

        drivers.forEach(driver => {
            const row = document.getElementById(driver.name);
            if (filteredDrivers.find(item => item.name == driver.name) !== undefined) {
                row.removeAttribute("style");
                row.removeAttribute("hidden");
            } else {
                row.setAttribute("style", "display: none");
                row.setAttribute("hidden", "");
            }
        });

        return true;
    };

    searchTerm.oninput = function() {
        return filterCsiDrivers();
    }
    lifecycleModes.onchange = function() {
        return filterCsiDrivers();
    }
    capabilities.onchange = function() {
        return filterCsiDrivers();
    }
    accessModes.onchange = function() {
        return filterCsiDrivers();
    }
</script>

{{ $js := resources.Get "/js/multiselect-dropdown.js" }}
<script defer language="javascript" type="text/javascript" src="{{ $js.RelPermalink }}"></script>
